@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f8f7;
  --foreground: #132238;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-width: 320px;
}
